<%= form_for(@record) do |f| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </div>
  <div class="field">
    <%= f.label :kind %><br />
    <%= f.select :kind , I18n.t('fray.record_types') %>
  </div>
  <div class="field">
    <%= f.label :student_id %><br />
    <%= f.select :student_id , User.all.reject{|x| x.kind == I18n.t('fray.teacher')}.collect {|x| [x.first_name + ' ' + x.first_last_name + ' - ' + x.enrollment_code,x.id]} %>
  </div>
  <div class="field">
    <%= f.label :institution_id %><br />
    <%= f.select :institution_id , Institution.all.collect {|x| [x.name,x.id]} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
