<h1>Listing stages</h1>

<p><a href="<%= new_stage_path %>"class="btn btn-small btn-primary down_pusher pull-right"><%= I18n.t('fray.buttons.add_new') %></a></p>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

<% @stages.each do |stage| %>
  <tr>
    <td><%= stage.name %></td>
    <td><%= link_to 'Edit', edit_stage_path(stage) %></td>
    <td><%= link_to 'Destroy', stage, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<% if @stages.length > 5  %>
    <p><a href="<%= new_stage_path %>"class="btn btn-small btn-primary "><%= I18n.t('fray.buttons.add_new') %></a></p>
<% end %>

<%= will_paginate @posts %>
