<!DOCTYPE html>
<html>
<head>
  <title>Fray Academic System</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "bootstrap.js" %>
  <%= javascript_include_tag "main.js" %>
  <%= csrf_meta_tag %>
</head>
<body>

    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">

              <a class="brand" href="/">
                <%= I18n.t('fray.menu_title').to_s  %>
              </a>

              <ul class="nav">

              </ul>

            </div>
        </div>

    </div>
    <div class="container">
      <%if not @error.nil? %>
          <div class="alert alert-error">@error</div>
      <% else %>
          <%if not @success.nil? %>
              <div class="alert alert-success">@success</div>
          <% end %>
      <% end %>
    </div>


    <div id="fray_container">
      <!--<div id="header_bg" ></div>-->
      <div id="fray_header">
        <h1><%= I18n.t('fray.title').to_s  %></h1>
        <h3><%= I18n.t('fray.subtitle').to_s  %></h3>

        <div class="btn-toolbar" style="margin: 0;">
          <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown"> <%= I18n.t('fray.buttons.reports').to_s  %> <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><%= link_to I18n.t('fray.buttons.groups').to_s , groups_path %></li>
              <li><%= link_to I18n.t('fray.buttons.lectures').to_s , lectures_path %></li>
              <li><%= link_to I18n.t('fray.buttons.students').to_s , 'students' %></li>
              <li><%= link_to I18n.t('fray.buttons.teachers').to_s , 'teachers' %></li>
              <li class="divider"></li>
              <li><%= link_to I18n.t('fray.buttons.subjects_catalog').to_s , subjects_path %></li>
            </ul>
          </div>

          <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown"> <%= I18n.t('fray.buttons.manage').to_s  %> <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#"><%= I18n.t('fray.buttons.groups').to_s  %></a></li>
              <li><a href="#"><%= I18n.t('fray.buttons.lectures').to_s  %></a></li>
              <li><%= link_to I18n.t('fray.buttons.teachers').to_s, 'users/'  %></li>
              <li><a href="#"><%= I18n.t('fray.buttons.students').to_s  %></a></li>
              <li><a href="#"><%= I18n.t('fray.buttons.subjects').to_s  %></a></li>
              <li class="divider"></li>
              <li><a href="#"><%= I18n.t('fray.buttons.institutions').to_s  %></a></li>
              <li><a href="#"><%= I18n.t('fray.buttons.stages').to_s  %></a></li>
              <li><a href="#"><%= I18n.t('fray.buttons.periods').to_s  %></a></li>
              <li><a href="#"><%= I18n.t('fray.buttons.schedules').to_s  %></a></li>
            </ul>
          </div>

        </div>

      </div>
    </div>

    <div class="yield_container">
      <div class="yield_box">
        <%= yield %>
      </div>
    </div>

</body>
</html>
