<div id="assign_student_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%= I18n.t('fray.assign') + ' ' + I18n.t('fray.models.student') %> </h3>
  </div>
  <form action="/lectures/assign_student/" method="get">
    <%= fields_for :student do |f| %>

    <div class="modal-body">


      <%= f.hidden_field :lecture_id %>

      <%= f.label I18n.t('fray.models.student') %>
      <%= f.select :id,select_for_students %>

    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary"><%= I18n.t('fray.assign') %></button>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>

    <% end %>
  </form>
</div>

