<%= form_for(@lecture) do |f| %>
  <% if @lecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lecture.errors.count, "error") %> prohibited this lecture from being saved:</h2>

      <ul>
      <% @lecture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_id %><br />
    <%= f.select :group_id , Group.all.collect {|x| [x.name + '-' + x.suffix + ' : ' + x.stage.name, x.id]} %>
  </div>
  <div class="field">
    <%= f.label :schedule_id %><br />
    <%= f.select :schedule_id , Schedule.all.collect {|x| [ I18n.l( x.start_time, :format => "%I.%m %p").to_s + ' - ' + I18n.l( x.end_time, :format => "%I.%m %p") ,x.id ]}%>
  </div>
  <div class="field">
    <%= f.label :subject_id %><br />
    <%= f.select :subject_id , Subject.all.collect{|x| [x.name ,x.id] } %>
  </div>
  <div class="field">
    <%= f.label :teacher_id %><br />
    <%= f.select :teacher_id , User.all.reject{|x| x.kind == I18n.t('fray.student').to_s }.collect {|x| [x.first_name + ' - ' + x.studies , x.id]} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
