<br><br>
<h2>Top Ten</h2>

<% if @lecture.students.size>0 %>
    <table>
      <th><%= I18n.t('fray.buttons.students') %></th>
      <th><%= I18n.t('fray.users.enrollment_code') %></th>
      <th><%= I18n.t('fray.users.name') %></th>
      <th><%= I18n.t('fray.models.grade') %></th>

      <% @lecture.students.first(10).each do |student| %>

          <tr>
            <td></td>
            <td><%= student.enrollment_code %></td>
            <td><%= user_get_name student %></td>
            <td><%= student.get_accumulated_weighted_score @lecture.id %></td>
          </tr>

      <% end %>
    </table>
    <br /><br />
<% end %>