<h1><%= pluralize_this I18n.t('fray.models.lecture') %></h1>


<p><a href="<%= new_lecture_path %>" class="btn btn-small btn-primary down_pusher pull-right"><%= I18n.t('fray.buttons.add_new') %></a></p>

<table>
  <tr>
    <th>Group</th>
    <th>Schedule</th>
    <th>Subject</th>
    <th>Teacher</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lectures.each do |lecture| %>
  <tr>
    <td><%= lecture.group.name %></td>
    <td><%= lecture.schedule.day + ', ' + I18n.l( lecture.schedule.start_time, :format => "%I.%m %P").to_s + ' - ' + I18n.l( lecture.schedule.end_time, :format => "%I.%m %p") %></td>
    <td><%= lecture.subject.name %></td>
    <td><%= lecture.teacher.first_name + ' '+  lecture.teacher.first_last_name %></td>

    <td>
      <a onclick="assignLectureToAddStudentForm(<%= lecture.id %>)" href="#assign_student_modal" role="button" data-toggle="modal" >
        <%= I18n.t('fray.assign') +' '+ pluralize_this(I18n.t('fray.models.student')) %>
      </a>
    </td>

    <td><%= link_to 'Edit', edit_lecture_path(lecture) %></td>
    <td><%= link_to 'Destroy', lecture, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


<% if @lectures.length > 5  %>
    <p><a href="<%= new_lecture_path %>"class="btn btn-small btn-primary down_pusher"><%= I18n.t('fray.buttons.add_new') %></a></p>
<% end %>



<br />

<%= render 'assign_students' %>

<!--<%# link_to 'New Lecture', new_lecture_path %>-->
