<p id="notice"><%= notice %></p>

  <h1><%= I18n.t('fray.models.lecture') %></h1>

<p class="field">
  <b>Group:</b>
  <%= group_get_name @lecture.group %>
</p>

<p class="field">
  <b>Schedule:</b>
  <%= humanize_schedule @lecture.schedule %>
</p>

<p class="field">
  <b>Subject:</b>
  <%= @lecture.subject.name %>
</p>

<p class="field">
  <b>Teacher:</b>
  <%= user_get_name @lecture.teacher %>
</p>

<%= render 'show_students_table' %>

<p>
<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', '/lectures/manage' %>
</p>
