<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @schedule.id %>
</p>

<p>
  <b>Start time:</b>
  <%= @schedule.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @schedule.end_time %>
</p>

<p>
  <b>Day:</b>
  <%= @schedule.day %>
</p>


<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
