<h1> Teachers</h1>

<table  class="table table-striped table-hover table-condensed">
  <tr>
    <th>Studies</th>
    <th>Salary</th>
    <th>First name</th>
    <th>First last name</th>
    <th>Identification card</th>
    <th>Phone 1</th>
    <th>Phone 2</th>
    <th>Address 1</th>
    <th>Address 2</th>
    <th>Nationality</th>
    <!--<th></th>-->
    <!--<th></th>-->
    <!--<th></th>-->
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.studies %></td>
    <td><%= user.salary %></td>
    <td><%= user.first_name %></td>
    <td><%= user.first_last_name %></td>
    <td><%= user.identification_card %></td>
    <td><%= user.phone_1 %></td>
    <td><%= user.phone_2 %></td>
    <td><%= user.address_1 %></td>
    <td><%= user.address_2 %></td>
    <td><%= user.nationality %></td>
    <!--<td><%# link_to 'Show', user %></td>-->
    <!--<td><%# link_to 'Edit', edit_user_path(user) %></td>-->
    <!--<td><%# link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>-->
  </tr>
<% end %>
</table>

<br />

