<h1>Subjects</h1>

<p><a href="<%= new_subject_path %>" class="btn btn-small btn-primary pull-right down_pusher"><%= I18n.t('fray.buttons.add_new') %></a></p>

<table>
  <tr>
    <th>Name</th>
    <th>Stage</th>
    <th></th>
    <th></th>
  </tr>

<% @subjects.each do |subject| %>
  <tr>
    <td><%= subject.name %></td>
    <td><%= subject.stage.name %></td>
    <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
    <td><%= link_to 'Destroy', subject, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<% if @subjects.length > 5  %>
    <p><a href="<%= new_subject_path %>"class="btn btn-small btn-primary down_pusher"><%= I18n.t('fray.buttons.add_new') %></a></p>
<% end %>

<%= will_paginate @posts %>

