<br><br>

<h2>Top Ten</h2>
<% if Student.top_ten(@group).size>0 %>
    <table>
      <th><%= I18n.t('fray.buttons.students') %></th>
      <th><%= I18n.t('fray.users.name') %></th>
      <th><%= I18n.t('fray.users.enrollment_code') %></th>

      <% Student.top_ten(@group).each do |student| %>

          <tr>
            <td></td>
            <td><%= user_get_name student %></td>
            <td><%= student.enrollment_code %></td>
          </tr>

      <% end %>
    </table>
    <br /><br />
<% end %>