<h1><%= pluralize_this I18n.t('fray.models.group') %></h1>
<p><a href="<%= new_group_path %>" style="float: right;" class="btn btn-small btn-primary"><%= I18n.t('fray.buttons.add_new') %></a></p>

<table>
  <tr>
    <th>Name</th>
    <th>Suffix</th>
    <th>Period</th>
    <th>Teacher</th>
    <th>Stage</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= group.name %></td>
    <td><%= group.suffix %></td>
    <td><%= group_get_period group %></td>
    <td><%= user_get_name group.teacher %></td>
    <td><%= group.stage.name %></td>
    <td><%= link_to 'Show', group %></td>
    <td><%= link_to 'Edit', edit_group_path(group) %></td>
    <td><%= link_to 'Destroy', group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<% if @groups.length > 5  %>
    <button style="float: right;" class="btn btn-small btn-primary"><%= I18n.t('fray.buttons.add_new') %></button>
<% end %>

<br />

