<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @institution.id %>
</p>

<p>
  <b>Name:</b>
  <%= @institution.name %>
</p>

<p>
  <b>Address:</b>
  <%= @institution.address %>
</p>

<p>
  <b>Phone:</b>
  <%= @institution.phone %>
</p>

<p>
  <b>Country:</b>
  <%= @institution.country %>
</p>


<%= link_to 'Edit', edit_institution_path(@institution) %> |
<%= link_to 'Back', institutions_path %>
