<%= form_for(@grade) do |f| %>
  <% if @grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

      <ul>
      <% @grade.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lecture_id %><br />
    <%= f.text_field :null , :value => lecture_get_name(@lecture), :disabled => true %>
    <%= f.hidden_field :lecture_id, :value => @lecture.id %>
  </div>
  <div class="field">
    <%= f.label :student_id %><br />
    <%= f.text_field :null, :value => user_get_name(@student).to_s, :disabled => true %>
    <%= f.hidden_field :student_id, :value => @student.id %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.select :comment , I18n.t('fray.lecture_assignments') %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
