<h1><%= I18n.t('fray.models.grades') %> </h1>
<h2><%= I18n.t('fray.buttons.process.choose_group') %> </h2>

<table>
  <tr>
    <th>Name</th>
    <th>Suffix</th>
    <th>Period</th>
    <th>Teacher</th>
    <th>Stage</th>
    <th>Students</th>
    <th></th>
  </tr>

  <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.suffix %></td>
        <td><%= group_get_period group %></td>
        <td><%= user_get_name group.teacher %></td>
        <td><%= group.stage.name %></td>
        <td><%= group.students.count %></td>
        <td><%= link_to I18n.t('fray.buttons.select') + ' ' + I18n.t('fray.models.group') , '/grades/manage/'+group.id.to_s %></td>
      </tr>
  <% end %>


</table>

<%= render 'lectures'%>
<%= render 'students'%>
