<h1><%= I18n.t('fray.models.grades') %> </h1>
<h2><%= I18n.t('fray.buttons.process.choose_group') %> </h2>

<table>
  <tr>
    <th>Name</th>
    <th>Suffix</th>
    <th>Period</th>
    <th>Teacher</th>
    <th>Stage</th>
    <th>Students</th>
    <th></th>
  </tr>

  <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.suffix %></td>
        <td><%= group_get_period group %></td>
        <td><%= user_get_name group.teacher %></td>
        <td><%= group.stage.name %></td>
        <td><%= group.students.count %></td>
        <td><%= link_to I18n.t('fray.buttons.select') + ' ' + I18n.t('fray.models.group') , '/grades/manage/'+group.id.to_s %></td>
      </tr>
  <% end %>


</table>


<% if @lectures %>

    <h2/><%=  I18n.t('fray.buttons.select') + ' ' + I18n.t('fray.models.lecture') %></h2>

    <table>
      <tr>
        <th>Group</th>
        <th>Schedule</th>
        <th>Subject</th>
        <th>Teacher</th>
        <th></th>

      </tr>

      <% @lectures.each do |lecture| %>
          <tr>
            <td><%= lecture.group.name %></td>
            <td><%= lecture.schedule.day + ', ' + I18n.l( lecture.schedule.start_time, :format => "%I.%m %P").to_s + ' - ' + I18n.l( lecture.schedule.end_time, :format => "%I.%m %p") %></td>
            <td><%= lecture.subject.name %></td>
            <td><%= lecture.teacher.first_name + ' '+  lecture.teacher.first_last_name %></td>
            <td><%= link_to I18n.t('fray.buttons.select') + ' ' + I18n.t('fray.models.lecture') , '/grades/manage/'+@group.id.to_s+'/'+lecture.id.to_s %></td>

          </tr>
      <% end %>
    </table>

<% end %>

<% if @students %>
    <h2/><%=  I18n.t('fray.buttons.select') + ' ' + I18n.t('fray.models.student') %></h2>

    <table class="table table-striped table-hover table-condensed">
      <tr>
        <th>Enrollment code</th>
        <th>Name</th>
        <th>Grade</th>
        <th></th>
      </tr>

      <% @students.each do |student| %>
          <tr>
            <td><%= student.enrollment_code %></td>
            <td><%= user_get_name student %></td>
            <td><%= find_grades_for_student_lecture(student,@lecture).first.value unless find_grades_for_student_lecture(student,@lecture).empty? %></td>
            <td><%= link_to I18n.t('fray.buttons.select') + ' ' + I18n.t('fray.models.student') , '/grades/new/'+student.id.to_s+'/'+@lecture.id.to_s %></td>
          </tr>
      <% end %>
    </table>
<% end %>